<form ng-submit="addList()">
    <input type="text" ng-model="listTitle" size="30"
    placeholder="add new list here">
    <input class="btn-primary" type="submit" value="add">
</form>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <!--Body content-->
             
            <div class="lists">
            <div ng-repeat="list in lists">
            {{list.id}}
            <p>{{list.title}}</p>
                <ul class="elements">
                <li ng-repeat="elem in list.list_elements">
                {{elem.content}}
                </li>
                </ul>
            </div>
            </div>
             
        </div>
    </div>
</div>