<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <!--Body content-->
             
            <ul class="notes">
            <li ng-repeat="note in notes">
            {{note.id}}
            <p>{{note.content}}</p>
            </li>
            </ul>
             
        </div>
    </div>
</div>